PORT=4001
BASE_URL=http://20.207.122.201/evaluation-service
EMAIL=you@example.com
NAME=Your Name
ROLL_NO=AV.SC.U4CSE23243
ACCESS_CODE=your_access_code
GITHUB_USERNAME=githubuser
CLIENT_ID=client_id
CLIENT_SECRET=client_secret
